.home-page h1,
.home-page p {
  text-align: center;
}

/* Referral Widget */

div.referral-form {
  text-align: left;
  width: 800px;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

div.referral-form h1 {
  margin-bottom: 3rem;
  text-align: center;
}

div.referral-form pre {
  border-radius: 4px;
  background-color: #f8f8f8;
}
